#simpleTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#simpleTable td, #simpleTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#simpleTable tr:nth-child(even){background-color: #f2f2f2;}

#simpleTable tr:hover {background-color: #ddd;}

#simpleTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #043807;
    color: white;
    white-space: nowrap;
}
