<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>

      <title>Manager panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
  </head>
  <body>
    <div class="container">
      <h1>Manager Panel</h1>

      <div th:replace="~{navigation :: navi(AdminDashboard)}" />

        <div id="datebox" style="margin-top: 50px;" class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
<!--          <div class="panel panel-info">-->
    <!--        <div class="panel-heading">-->
    <!--          <div class="panel-title"></div>-->
<!--              <div style="padding-top: 30px" class="panel-body">-->
    <!--             <form th:action="@{/edit}" th:method="POST" class="form-horizontal" th:object="${question}">-->
    <!--              <div class="form-group">-->
    <!--                <div class="col-xs-15">-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </form>-->
                <form  th:action="@{updateOrSave}" th:method="POST" th:object="${question}">
    <!--                <input type="hidden" class="form-control" th:field="*{id}"><br/>-->
                    <label >Id: </label>
                    <input type="text" class="form-control" th:field="*{id}"><br/>
                  <div class="md-3">
                    <label >Question: </label>
                    <input type="text" class="form-control" th:field="*{questionName}" placeholder="Enter question"><br/>
<!--                      <div class="md-3">-->
<!--                          <label >Answer1: </label>-->
<!--                          <input type="text" class="form-control" th:field="*{answer}" placeholder="Enter question"><br/>-->
<!--                      </div>-->
                  </div>
<!--                </form>-->
                    <form th:action="@{editAnswer}" th:method="POST" th:object="${answer}">
                        <label >Id: </label>
                        <input type="text" class="form-control" th:field="*{id}"><br/>
                        <div class="md-3">
                            <label >Answer1: </label>
                            <input type="text" class="form-control" th:field="*{answer_1}" placeholder="Enter answer"><br/>
                        </div>
                        <div class="md-3">
                            <label >Answer2: </label>
                            <input type="text" class="form-control" th:field="*{answer_2}" placeholder="Enter answer"><br/>
                        </div>
                        <div class="md-3">
                            <label >Answer3: </label>
                            <input type="text" class="form-control" th:field="*{answer_3}" placeholder="Enter question"><br/>
                        </div>

                    <button type="submit" name="save" class="btn btn-primary"> Save </button>
                </form>
                </form>

<!--              </div>-->
    <!--        </div>-->
          </div>
        </div>
      </div>
  </body>
</html>