<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="utf-8" />
		<title>Edit Question</title>
	</head>
	<body>
	<div align="center">
		<h1>Edit Question</h1>
		<br>
		<form th:action="@{/manager/edit}" th:object="${question}"
			  method="post" enctype="multipart/form-data">
				<input th:field="*{id}" type="hidden" data-th-hidden="id"/>

			<table border="0" cellpadding="10">
				<tr>
					<td>
						<div class="input-group">
							<div class="form-group col-md-12">
								<label>Выберите категорию</label>
								<select th:field="*{category}" class="form-control">
									<option th:each="category: ${categories}"
											th:value="${category.id}"
											th:text="${category.categoryName}">
									</option>
								</select>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Question:</td>
					<td>
						<input type="text" th:field="*{questionName}"/>
					</td>
				</tr>
				<div class="col form-group" th:object="${answers}">
					<tr >
						<td>Answer_1:</td>
						<td>
							<input  th:field="*{answer_1}" type="text"/>
						</td>
					</tr>
					<tr>
						<td>Answer_2:</td>
						<td>
							<input  th:field="*{answer_2}" type="text"/>
						</td>
					</tr>
					<tr>
						<td>Answer_3:</td>
						<td>
							<input  th:field="*{answer_3}" type="text"/>
						</td>
					</tr>
<!--				</div>-->

					<tr>
						<td colspan="2">
							<button type="submit">Save</button>
						</td>
					</tr>
				</div>
<!--				</form>-->
			</table>
		</form>
	</div>
	</body>
</html>